# Dependencias
node_modules/
**/node_modules/

# Variables de entorno
.env
**/.env

# Archivos subidos por los usuarios
uploads/
**/uploads/

# Build
dist/
build/

# Logs
*.log

# VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db